@font-face {
    font-family: 'Sterion';
    src: url(fonts/Sterion-BLLld.ttf);
}

@font-face {
    font-family: 'Star Jedi Hollow';
    src: url(fonts/StarJediHollow-A4lL.ttf);
}

@font-face {
    font-family: 'Star Jedi Rounded';
    src: url(fonts/StarJediRounded-jW3R.ttf);
}

html {
    cursor: url('images/cursor.png'), auto;
    scroll-behavior: smooth;
    height: 100%;;
}

body {
    background-color: rgb(92, 64, 4);
    border: 2px solid palevioletred ;
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;
}

header {
    max-width: 900px;
    width: 100%;
    margin-bottom: 40px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Sterion';
    color: rgb(255, 217, 0);

}

.firstfont {
    font-family: 'Star Jedi Hollow';
    line-height: 1.2;
    margin: 10px 0;
    padding: 0 15px; 
    text-align: center;
}

p {
    line-height: 1.6;
    margin: 20px 0;
    padding: 0 15px; 
    text-align: center;
    font-family: 'Star Jedi Hollow';
    color: rgb(255, 238, 0);
    text-align: left;
    font-size: 1.4rem;
}

.boxofimgs {
    height: auto;
    display: grid;
    place-items: center;
    border: 2px dotted yellow;
    border-radius: 25% 50% 50% 50%;;
    animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
    0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.shmimg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

img {
    border: 5px dotted rgb(75, 42, 11);
    background-color: rgb(255, 230, 0);
    display: block;
    max-width:300px;
    max-width: auto;

}

.the-details {
    font-family: 'Sterion';
    color: beige;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
}

.circle{
    border: 2px solid rgb(4, 4, 97);
    background-color: rgb(147, 87, 182);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}

#centerpoint, 
#diameterpoint, 
#pathpoint {
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    position: absolute; 
}

#pathpoint {
    position: absolute;
    transform: rotate(32deg) translateY(-125px);  
    background-color: green;
}

.particlered { 
    background-color: red;
}

.particlewhite { 
    background-color: white;
    transform: translateX(65px);  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    animation: pulseMove 1.5s infinite ease-in-out; 
}
/* 
@keyframes pulseMove {
  0% { transform: scale(1) translateY(0); }
  50% { transform: scale(1) translateX(60px); } 
  100% { transform: scale(1) translateY(0); }
} */

.x-axis {
    position: absolute;
    width: 250px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.y-axis {
    position: absolute;
    width: 1px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
}

.circlebg {
    border: 2px dashed paleturquoise;
    border-radius: 50%;
}

#connectgrtow {
    position: absolute;
    width: 2px;
    height: 95px;
    z-index: 5;
    background-color: brown;
    transform-origin: center; 
    transform: translateX(65px) translateY(-55px);
}

#connectgrtord {
    position: absolute;
    width: 2px;
    height: 120px;
    z-index: 5;
    background-color: rgb(29, 12, 90);
    transform-origin: center; 
    transform: translateX(36px) translateY(-55px) rotate(32deg);
}

#connectrdtow {
    position: absolute;
    width: 59px;
    height: 8px;
    background-color: rgba(255, 208, 0, 0.3);
    z-index: 1;
    left: 50%; 
    top: 50%;
    transform-origin: left; 
    transform: translateY(-50%);
}

#tangentialv {
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00ff00;
    top: 50%;
    left: 50%;
    transform-origin: right; 
    transform: rotate(3deg) translateY(-110px) rotate(20deg); 
    z-index: 5;
}

.label {
    font-family: 'Star Jedi Hollow';
    font-size: smaller;
    color:rgb(255, 251, 0);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes moveDot {
  from { transform: translateX(0); }
  to { transform: translateX(200px); }
}