@font-face {
    font-family: 'Sterion';
    src: url(fonts/Sterion-BLLld.ttf);
}

@font-face {
    font-family: 'Star Jedi Hollow';
    src: url(fonts/StarJediHollow-A4lL.ttf);
}

body {
    background-color: rgb(92, 64, 4);
    border: 2px solid palevioletred ;
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    /* margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; */
}

h1 {
    font-family: 'Sterion';
    color: rgb(255, 217, 0);
    text-align: center;
}

p {
    font-family: 'Star Jedi Hollow';
    color: rgb(255, 238, 0);
    text-align: center;
}

.boxofimgs {
    height: auto;
    display: grid;
    place-items: center;
    border: 2px dotted yellow;
    border-radius: 25% 50% 50% 50%;;
    animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
    0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.shmimg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

img {
    border: 5px dotted rgb(75, 42, 11);
    background-color: rgb(255, 230, 0);
    display: block;
    max-width:300px;
    max-width: auto;

}

.the-details {
    font-family: 'Sterion';
    color: beige;
    margin-top: 10px;
}

.circle{
    border: 2px solid rgb(4, 4, 97);
    background-color: rgb(147, 87, 182);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    /* top: 50%;
    left: 60%; */
    /* transform: translate(-50%, -0%); */
}

#centerpoint, 
#diameterpoint, 
#pathpoint {
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    position: absolute; 
}

#pathpoint {
    position: absolute;
    transform: rotate(32deg) translateY(-125px);  
    background-color: green;
}

.particlered { background-color: red; }

.particlewhite { 
    background-color: white;
    transform: translateX(65px);  
}

.x-axis {
    position: absolute;
    width: 250px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.y-axis {
    position: absolute;
    width: 1px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
}

.circlebg {
    border: 2px dashed paleturquoise;
    border-radius: 50%;
}